@use '../variables.scss' as v;

$mobile-nav-height: 100vh;

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  background-color: transparent;
}

.nav-menu {
  margin-left: auto;

  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    margin: 0;
    margin-left: 18px;
    margin-right: 18px;
  }
}

.nav-link {
  color: v.$body-link-color !important;
  text-decoration: none;
  display: block;
  width: 100%;

  &:hover {
    text-decoration: underline;
    color: v.$blockquote-text-color !important;
  }
}

.hamburger {
  position: absolute;
  top: 50%;
  right: 25px;
  display: none;
  border: 0;
  height: 45px;
  width: 45px;
  margin-top: 15px;
  padding: 4px;
  border-radius: 50%;
  background-color: v.$bg-color;
  transition: background-color 0.3s ease-in-out;
}

.hamburger-icon, .close-icon {
  stroke: v.$primary-color;
  stroke-width: 1.5px;
  width: 28px;
}

.close-menu-button {
  display: none;
}

.hamburger:hover {
  background-color: v.$accent-color;
}

@keyframes menu-expand-animation {
  from { opacity: 0; height: 0; }
  to { opacity: 1; height: $mobile-nav-height; }
}

@keyframes menu-collapse-animation {
  from { opacity: 1; height: $mobile-nav-height; }
  to { opacity: 0; height: 0; }
}

@include v.ltsm {
  .hamburger {
    display: block;
  }

  .close-menu-button {
    display: block;
    cursor: pointer;
  }

  .nav-menu {
    ul {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 15;
      flex-direction: column;
      width: 100%;
      height: $mobile-nav-height;
      background-color: v.$bg-color;
      overflow: hidden;
    }

    li {
      text-align: center;
      margin: 0;
      margin-top: 25px;
      margin-bottom: 25px;

      &:hover {
        background-color: #eee;
      }

      a {
        color: v.$primary-color;
        width: 100%;
        padding: 24px 0;
      }
    }
  }

  .collapsed {
    ul {
      display: block;

      @include v.prefers-animations {
        animation-name: menu-collapse-animation;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
      }
    }
  }

  .expanded {
    ul {
      display: block;
      
      @include v.prefers-animations {
        animation-name: menu-expand-animation;
        animation-duration: 0.3s;
      }
    }
  }
}