@use '../variables.scss' as v;

.skills-container {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;

  @include v.sm {
    grid-template-columns: 1fr 1fr;
    column-gap: clamp(40px, 8%, 200px);
    padding-left: clamp(20px, 10%, 190px);
  }
}

.skill-title {
  font-size: 15px;
}

.skill-description-container {
  background-color: v.$bg-color;
  text-align: left;
}

.skill-category {
  margin-bottom: 25px;
}

.skill-category-title {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: left;
}

.category-skills-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-bottom: 15px;
}

.skill-item {
  margin-left: 15px;
}
