@use '../variables.scss' as v;

.skills-container {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;

  @include v.sm {
    grid-template-columns: 1fr 1fr;
    column-gap: clamp(40px, 8%, 200px);
    padding-left: clamp(20px, 22%, 220px);
  }
}

.skill-title {
  font-size: 15px;
  margin-right: 4px;

  &.concept {
    font-style: italic;
  }
}

.skill-description-container {
  background-color: v.$bg-color;
  text-align: left;
}

.skill-category {
  margin-bottom: 25px;
}

.skill-category-title {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;

  @include v.sm {
    text-align: left;
  }
}

.category-skills-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-bottom: 15px;

  @include v.sm {
    align-items: start;
  }
}

.skill-item {
  margin-left: 15px;

  a {
    color: v.$secondary-color;
    text-decoration: none;
    transition: color v.$link-hover-tansition-duration;

    &:hover {
      text-decoration: underline;
    }
  }
}
