@use "variables.scss" as v;

.skills-container {
  margin-top: 15px;
}

.skill-title {
  font-size: 15px;
}

.skill-description-container {
  background-color: v.$bg-color;
  text-align: left;
}

.skill-category {
  margin-bottom: 25px;
}

.skill-category-title {
  font-size: 22px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;

  @include v.mediumAndSmall {
    text-align: center;
  }
}

.category-skills-container {

  @include v.large {
    display: grid;
    grid-template-columns: auto auto;
  }

  @include v.medium {
    display: grid;
    grid-template-columns: auto auto;
  }

  @include v.small {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
  }
}

.skill-item {
  margin: 0 auto 16px auto;
  break-inside: avoid;

  @include v.small {
    margin-bottom: 14px;
  }
}

.progress-bar {
  background-color: #c7c7c7;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.progress {
  background-color: v.$accent-color;
  border-radius: 3px;
  width: 0;
  transition: width 0.5s ease-in;
}

@include v.large {
  .progress {
    height: 18px;
  }

  .progress-bar {
    width: 350px;
  }
}

@include v.medium {
  .progress {
    height: 18px;
  }

  .progress-bar {
    width: 250px;
  }
}

@include v.small {
  .progress {
    height: 16px;
  }

  .progress-bar {
    width: 75vw;
  }
}
