@import "variables.scss";

.skills-container {
  display: inline;
  margin-top: 15px;
}

.skill-title {
  font-size: 15px;
}

.skill-description-container {
  background-color: #fff;
  padding-right: 10px;
}

.skill-badge {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  background: #fff;
  height: 15px;
  margin: 0 3px;
}

.skill-category {
  margin-bottom: 25px;
}

.skill-category-title {
  font-size: 22px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
}

.category-skills-container {
  margin: 0 auto;

  @include large {
    column-count: 2;
  }

  @include medium {
    column-count: 2;
  }

  @include small {
    column-count: 1;
  }
}

.skill-item {
  margin-bottom: 10px;
  text-align: left;
  break-inside: avoid;
}

.skill-level-container {
  display: inline;
}

.progress-bar {
  background-color: #eeeeee;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  margin: 3px;
  max-width: 100%;
}

.progress {
  background-color: #15767a;
  border-radius: 3px;
  width: 0;
  transition: width 0.5s ease-in;
}

@include large {
  .progress {
    height: 18px;
  }

  .progress-bar {
    width: 300px;
  }
}

@include medium {
  .progress {
    height: 18px;
  }

  .progress-bar {
    width: 200px;
  }
}

@include small {
  .progress {
    height: 16px;
  }

  .progress-bar {
    width: 100px;
  }
}
