@import "variables.scss";

.skills-container {
    display: inline;
    margin-top: 15px;
  
    .nav-link {
      color: $secondary-accent-color;
    }
  
    .nav-link.active {
      color: #fff;
      background-color: $secondary-accent-color;
    }
  }
  
  .skill-description-container {
    background-color: #fff;
    padding-right: 10px;
  }
  
  .skill-badge {
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    background: #fff;
    height: 15px;
    margin: 0 3px;
  }
  
  .skill-item {
    margin-bottom: 10px;
  }
  
  .skill-sheet {
    height: 270px;
    text-align: left;
  
    .filler {
      position: absolute;
      left: 0;
      right: 0;
      border-bottom: 1px dotted #333;
      height: 50%;
    }
  
    @include large {
      padding: 0 25px;
    }
  
    @include medium {
      padding: 20px 15px;
    }
  
    @include small {
      padding: 20px 15px;
    }
  }
  
  .skill-level-container {
    display: inline;
  }
  
  .progress-bar {
    background-color: #fafafa;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin: 3px;
    height: 16px;
    width: 200px;
    max-width: 100%;
  }
  
  .progress {
    background: #15767a;
    background: -webkit-linear-gradient(to bottom, #1dcf79, #10595c);
    background: linear-gradient(to bottom, #1dcf79, #10595c);
    border-radius: 3px;
    height: 16px;
    width: 0;
    transition: width 0.5s ease-in;
  }
  
  @media screen and (max-width: 500px) {
    .progress-bar {
      width: 100px;
    }
  }
  