// Colors
$bg-color: #1a212f !default;
$primary-color: #f7f7f7 !default;
$secondary-color: #c9c9c9 !default;
$accent-color: #395164 !default;
$body-text-color: #c9c9c9 !default;
$body-link-color: #597d94 !default;
$blockquote-text-color: #79a3b6 !default;

$banner-heading-color: #fff !default;
$banner-bg-color: $primary-color !default;
$banner-bg-color-secondary: $secondary-color !default;

$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

// Sizes
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;

// Breakpoints
$screen-sm-min: 768px;
$screen-md-min: 1024px;
$screen-lg-min: 1366px;
$screen-xl-min: 1920px;
$screen-xxl-min: 2560px;

// Larger than small
@mixin sm {@media only screen and (min-width: #{$screen-sm-min}) { @content; }}
@mixin md {@media only screen and (min-width: #{$screen-md-min}) { @content; }}
@mixin lg {@media only screen and (min-width: #{$screen-lg-min}) { @content; }}
@mixin xl {@media only screen and (min-width: #{$screen-xl-min}) { @content; }}
@mixin xxl {@media only screen and (min-width: #{$screen-xxl-min}) { @content; }}

// Less than sm
@mixin ltsm {@media only screen and (max-width: #{$screen-sm-min}) { @content; }}
@mixin ltmd {@media only screen and (max-width: #{$screen-md-min}) { @content; }}