// Colors
$bg-color: #1a212f !default;
$primary-accent-color: #f7f7f7 !default;
$secondary-accent-color: #c9c9c9 !default;
$body-text-color: #c9c9c9 !default;
$body-link-color: #55788e !default;
$blockquote-text-color: #79a3b6 !default;

$banner-heading-color: #fff !default;
$banner-bg-color: $primary-accent-color !default;
$banner-bg-color-secondary: $secondary-accent-color !default;

$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

// Sizes
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;

// Breakpoints
$large-breakpoint: 992px !default;
$medium-breakpoint: 768px !default;

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin mediumAndLarge {
  @media screen and (min-width: #{$medium-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin mediumAndSmall {
  @media screen and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}